*.o
*.class
*.pdf
*.doc
*.docx
*.iml
.DS_Store
TODO*
*.odt
a.out
*.tiff
*.html

# Package Files #
*.jar
*.war
*.ear
*~
build/
target/
nbproject/
*/nbproject/
manifest.mf
build.xml

.idea

*.jfr

.gradle
