*.o
*.class
*.pdf
*.doc
*.docx
*.iml
.DS_Store
TODO*
*.odt
a.out
*.tiff
*.html

# Package Files #
*.jar
*.war
*.ear
*~
build/
target/
auto/
nbproject/
*/nbproject/
manifest.mf
build.xml

.idea

*.jfr

.gradle

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
